<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Администрирование</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body class="no-scroll-body">
<div class="authContainer">
  <h2>Админ панель</h2>
  <th:block th:if="${isAdmin}">
    <button onclick="location.href='/admin/users/view'">Пользователи</button>
  </th:block>
  <th:block th:if="${isHTeacher}">
    <button onclick="location.href='/admin/subjects/view'">Предметы</button>
  </th:block>
  <th:block th:if="${isHTeacher}">
    <button onclick="location.href='/admin/students/view'">Ученики</button>
  </th:block>
  <a href="/home">Назад</a>
</div>
</body>
</html>
