<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Редактировать пользователя</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
  <h1>Редактировать пользователя</h1>
  <form th:action="@{/admin/users/edit}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{userId}" />

    <div>
      <label for="username">Логин:</label>
      <input type="text" th:field="*{username}" id="username" required />
    </div>

    <div>
      <label for="password">Пароль:</label>
      <input type="text" th:field="*{password}" id="password" required />
    </div>
    <div>
      <label for="firstName">Имя:</label>
      <input type="text" th:field="*{student.studentName}" id="firstName" required />
    </div>
    <div>
      <label for="lastName">Фамилия:</label>
      <input type="text" th:field="*{student.studentSurname}" id="lastName" required />
    </div>
    <div>
      <label for="patronymic">Отчество:</label>
      <input type="text" th:field="*{student.studentPatronymic}" id="patronymic" />
    </div>
    <div>
      <label for="mail">Почта:</label>
      <input type="email" th:field="*{student.studentMail}" id="mail" />
    </div>

    <div th:if="*{student != null}">
      <h2>Данные ученика</h2>
      <div>
        <label for="classNumber">Класс:</label>
        <input type="number" th:field="*{student.classNumber}" id="classNumber" min="1" max="11" required />
      </div>
      <div>
        <label for="classLetter">Буква класса:</label>
        <input type="text" th:field="*{student.classLetter}" id="classLetter" maxlength="1" required />
      </div>
    </div>

    <div>
      <label for="role">Роль:</label>
      <select th:field="*{userRole}" id="role">
        <option value="ADMIN">Администратор</option>
        <option value="USER">Пользователь</option>
        <option value="TEACHER">Учитель</option>
        <option value="STUDENT">Ученик</option>
      </select>
    </div>

    <div>
      <button type="submit">Сохранить изменения</button>
    </div>
  </form>
</div>
</body>
</html>
