<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="top-bar">
    <div class="left-buttons">
        <button class="bar-button">Кнопка 1</button>
        <button class="bar-button">Кнопка 2</button>
        <button class="bar-button admin-button" th:if="${isAdmin}">Администрирование</button>
    </div>
    <div class="right-button">
        <form method="post" action="/logout">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
            <button type="submit" class="bar-button">Выйти</button>
        </form>
    </div>
</div>

</body>
</html>