<!DOCTYPE html>
<html lang="en">
<head>
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="top-bar">
    <div class="left-buttons">
        <th:block th:if="${isStudent}">
            <button class="bar-button" onclick="location.href='/journal'">Журнал</button>
        </th:block>
        <th:block th:if="${isAdmin}">
            <button class="bar-button" onclick="location.href='/admin'">Администрирование</button>
        </th:block>
        <th:block th:if="${isStudent}">
            <button class="bar-button" onclick="location.href='/settings'">Настройки</button>
        </th:block>
    </div>
    <div class="right-button">
        <form method="post" action="/logout">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
            <button type="submit" class="bar-button">Выйти</button>
        </form>
    </div>
</div>
</body>
</html>