<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Администрирование</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body class="no-scroll-body">
<div class="authContainer">
    <h1>Выбор журнала</h1>
    <form th:action="@{/journal}" method="post">
    <th:block th:if="${isStudent}">
        <div>
        <label for="subject">Предмет:</label>
        <select id="subject" name="subject">
            <option th:each="subject : ${subjects}" th:value="${subject}" th:text="${subject}"></option>
        </select>
        </div>
        <div>
        <label for="quarter">Четверть:</label>
        <input type="number" name="quarter" id="quarter" maxlength="2" min="1" max="4" required/>
        </div>
        <div>
            <button type="submit">Перейти</button>
        </div>
    </th:block>
<div>
    <a href="/home">Назад</a>
</div>
</div>
</body>
</html>
