<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body class="no-scroll-body">
<div class="authContainer">
    <h2>Создание нового пользователя</h2>
    <div th:if="${registerError}" class="error">
        <p th:text="${registerError}"></p>
    </div>
    <form id="authForm" th:action="@{/register}" method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <input type="text" name="username" placeholder="Логин" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <div class="roleSwitch">
            <div>
                <label>
                    <input type="radio" name="role" value="STUDENT">
                    <span>Ученик</span>
                </label>
                <label>
                    <input type="radio" name="role" value="TEACHER">
                    <span>Учитель</span>
                </label>
                <label>
                    <input type="radio" name="role" value="USER">
                    <span>Гость</span>
                </label>
            </div>
        </div>
        <button type="submit">Зарегистрироваться</button>
        <p>Уже есть учетная запись? <a href="/">Войти</a></p>
    </form>
</div>
</body>
</html>
