<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body class="no-scroll-body">
<div class="container">
<h1>Список учеников</h1>
    <a href="/admin">Назад</a>
<table>
    <thead>
    <tr>
        <th>Номер</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Класс</th>
        <th>Почта</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="profile : ${profiles}" th:if="${profile.user.userRole == 'STUDENT'}">
    <td th:text="${profile.profileId}"></td>
        <td th:text="${profile.profileSurname}"></td>
        <td th:text="${profile.profileName}"></td>
        <td th:text="${profile.profilePatronymic}"></td>
        <td th:text="${profile.classNumber} + ' ' + ${profile.classLetter}"></td>
        <td th:text="${profile.profileMail}"></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>
