<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Пользователи</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
  <h1>Список пользователей</h1>
  <table>
    <thead>
    <tr>
      <th>Номер</th>
      <th>Логин</th>
      <th>Пароль</th>
      <th>Права</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.userId}"></td>
      <td th:text="${user.username}"></td>
      <td th:text="${user.password != null ? '******' : ''}"></td>
      <td th:text="${user.userRole == 'ADMIN' ? 'Администратор' : 'Пользователь'}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>